.env
/node_modules
/assets/css/icon.css
/vendor
/composer.lock
*.log
error.log
.DS_Store
Thumbs.db
uploads/*
!uploads/.htaccess
!uploads/index.php
!uploads/policies/
uploads/policies/*
!uploads/policies/index.php
*.swp
*.swo
*~
.vscode/
.idea/
*.sublime-*